<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/board/selectByBNo.css">
</head>
<body>
	<h1>게시글 상세조회</h1>
	
	<div id="wrap">

	    <input type="hidden" value="[[${dto.bno}]]">

	
	    <div class="row board_title">
	
	            <div>제목 : [[${dto.title}]]</div>

	    </div>
	
	
	    <div class="row board_info">
	
	            <div>작성자 : [[${dto.writer}]]</div>

	            <div>작성날짜 : [[${dto.regDate}]]</div>

	    </div>
	
	
	    <div class="row board_content">
	        <!-- 이미지 및 파일 바꿔주기위한 과정 -->
	        내용 : <input type="hidden" name="testCon" id="testCon" th:value="${dto.content}">
	        <div id="innerCon"></div>
	    </div>
	
	
	    <div class="row">
	    
	    	<a th:href="@{/board/modifyForm(bno= ${dto.bno}, page=${requestDTO.page})}">
	    		<button type="button" class="btn btn-primary">수정</button>	    	
	    	</a>
        	
        	
        	 <a th:href="@{/board/delete(bno= ${dto.bno}, page=${requestDTO.page})}">
        		<button type="button" class="btn btn-danger removeBtn">삭제</button>
        	</a>
        	
        	<a th:href="@{/board/list(page=${requestDTO.page})}">
            	<button type="button" class="btn btn-info">목록</button>
        	</a>

	    </div>


	</div>
	
	<!-- 댓글 -->
	
<!-- 	<div>
		<table class="cmtListTable" border="1">
			<tr>
				<td>작성자</td>
				<td>작성일</td>
				<td>내용</td>
				<td>group</td>
				<td>sequence</td>
			</tr>
			<tr th:each="comment : ${content.comments}">
				<td th:text="${comment.member.username}"></td>
				<td th:text="${comment.cmRegdate}"></td>
				<td th:text="${comment.cmContent}"></td>
				<td th:text="${comment.cmGrp}"></td>
				<td th:text="${comment.cmSeq}"></td>
				<td>
					<button class="replyBtn" th:id="${comment.cmGrp}">답글</button>
				</td>
			</tr>
			
		</table>
	</div>	 -->
	

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<script>
	
	    $(function(){
	        var test = $("#testCon").val();
	        $("#innerCon").html(test);
	
	    })
	
	</script>	

	
</body>
</html>