<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     	layout:decorate="~{layouts/layout1}" >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">
	
	<h1>게시판</h1>
	
 	<table border="1">
		<tr>
			<td>번호</td>
			<td>제목</td>
			<td>작성자</td>
			<td>조회수</td>
			<td>작성일</td>	
		</tr>
		 
		<tr th:each="dto : ${result.dtoList}">
			<td>[[${dto.bno}]]</td>
			<td>
				<a th:href="@{/board/content(bno=${dto.bno}, page=${result.page})}">
					[[${dto.title}]]
				</a>
			</td>
			<td>[[${dto.writer}]]</td>
			<td>[[${dto.views}]]</td>
			<td>[[${dto.regDate}]]</td>	
		</tr> 
	</table>
	
	<!-- 글 작성 -->
	<a th:href="@{/board/insertForm}">
		<button type="button" class="btn btn-outline-primary">게시글 등록</button>
	</a>
	
	
	<!-- 페이징 -->
    <ul class="pagination h-100 justify-content-center align-items-center">

        <li class="page-item" th:if="${result.prev}">
            <a class="page-link" th:href="@{/board/list(page=${result.start - 1})}" tabindex="-1">이전</a>
        </li>

        <li th:class="'page-item ' + ${result.page == page ? 'active' : ''}"
            th:each="page: ${result.pageList}">
            <a class="page-link" th:href="@{/board/list(page=${page})}">
                [[${page}]]
            </a>
        </li>
        <li class="page-item" th:if="${result.next}">
            <a class="page-link" th:href="@{/board/list(page=${result.end + 1})}">다음</a>
        </li>
    </ul> 

</div>



</body>
</html>